.black {
  background: #000; }

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #FCFCFC;
  overflow-x: hidden;
  transition: 0.5s; }
  .sidenav .wrapper-list {
    list-style-type: none;
    padding: 0px;
    /* Rounded sliders */ }
    .sidenav .wrapper-list .list-active {
      color: #999; }
    .sidenav .wrapper-list .badge-primary {
      background: #FF0000; }
    .sidenav .wrapper-list .badge-secondary {
      background: #00FC49; }
    .sidenav .wrapper-list .welcome {
      font-family: "Roboto Mono", monospace;
      text-decoration: underline;
      color: #333;
      font-size: 12px;
      letter-spacing: .1em; }
    .sidenav .wrapper-list a {
      font-family: "Titillium Web", sans-serif;
      text-decoration: none;
      color: #000;
      font-weight: bold;
      font-size: 18px; }
    .sidenav .wrapper-list a:hover li {
      background: #ffffff;
      transition: .5s; }
    .sidenav .wrapper-list li {
      padding: 20px 30px;
      transition: .5s;
      border-bottom: .5px solid #eee; }
    .sidenav .wrapper-list .switch {
      position: relative;
      display: inline-block;
      width: 50px;
      height: 24px; }
    .sidenav .wrapper-list .switch input {
      opacity: 0;
      width: 0;
      height: 0; }
    .sidenav .wrapper-list .slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #ccc;
      -webkit-transition: .4s;
      transition: .4s; }
    .sidenav .wrapper-list .slider:before {
      position: absolute;
      content: "";
      height: 20px;
      width: 20px;
      left: 3px;
      bottom: 3px;
      background-color: white;
      -webkit-transition: .4s;
      transition: .4s; }
    .sidenav .wrapper-list input:checked + .slider {
      background-color: #333; }
    .sidenav .wrapper-list input:focus + .slider {
      box-shadow: 0 0 1px #2196F3; }
    .sidenav .wrapper-list input:checked + .slider:before {
      -webkit-transform: translateX(26px);
      -ms-transform: translateX(26px);
      transform: translateX(26px); }
    .sidenav .wrapper-list .slider.round {
      border-radius: 34px; }
    .sidenav .wrapper-list .slider.round:before {
      border-radius: 50%; }
    .sidenav .wrapper-list .sub-wrapper-list {
      list-style-type: none;
      padding: 20px 0px 10px 0px;
      display: none; }
      .sidenav .wrapper-list .sub-wrapper-list .no-divider {
        border: 0px; }
  .sidenav .closebtn {
    position: absolute;
    font-family: "Roboto Mono", monospace;
    top: 25px;
    right: 25px;
    font-size: 12px !important;
    margin-left: 50px;
    letter-spacing: .1em;
    color: #333 !important; }

#main {
  transition: margin-left .5s; }
  #main .list-nav {
    border-right: .5px solid #ccc; }
  #main .menu {
    padding-left: 15px;
    font-weight: bold;
    font-family: "Roboto Mono", monospace; }
  #main .navbar-search {
    padding-top: 15px; }

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px; }
  .sidenav a {
    font-size: 18px; } }
