$font-one : 'Titillium Web', sans-serif;
$font-two : 'Roboto Mono', monospace;
.black{
	background: #000;
}
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #FCFCFC;
    overflow-x: hidden;
    transition: 0.5s;
    .wrapper-list{
    	list-style-type: none;
    	padding: 0px;
    	.list-active{
    		color: #999;
    	}
    	.badge-primary{
    		background: #FF0000;
    	}
    	.badge-secondary{
    		background: #00FC49;
    	}
    	.welcome{
    		font-family: $font-two;
    		text-decoration: underline;
    		color: #333;
    		font-size: 12px;
    		letter-spacing: .1em;
    	}
    	a{
    		font-family: $font-one;
    		text-decoration: none;
    		color: #000;
    		font-weight: bold;
    		font-size: 18px;
    	}
    	a:hover li{
			background: #ffffff;
			transition: .5s;
    	}
    	li{
    		padding: 20px 30px;
    		transition: .5s;
    		border-bottom: .5px solid #eee;
    	}
    	.switch {
		  position: relative;
		  display: inline-block;
		  width: 50px;
		  height: 24px;
		}

		.switch input { 
		  opacity: 0;
		  width: 0;
		  height: 0;
		}

		.slider {
		  position: absolute;
		  cursor: pointer;
		  top: 0;
		  left: 0;
		  right: 0;
		  bottom: 0;
		  background-color: #ccc;
		  -webkit-transition: .4s;
		  transition: .4s;
		}

		.slider:before {
		  position: absolute;
		  content: "";
		  height: 20px;
		  width: 20px;
		  left: 3px;
		  bottom: 3px;
		  background-color: white;
		  -webkit-transition: .4s;
		  transition: .4s;
		}

		input:checked + .slider {
		  background-color: #333;
		}

		input:focus + .slider {
		  box-shadow: 0 0 1px #2196F3;
		}

		input:checked + .slider:before {
		  -webkit-transform: translateX(26px);
		  -ms-transform: translateX(26px);
		  transform: translateX(26px);
		}

		/* Rounded sliders */
		.slider.round {
		  border-radius: 34px;
		}

		.slider.round:before {
		  border-radius: 50%;
		}
    	.sub-wrapper-list{
    		list-style-type: none;
    		padding: 20px 0px 10px 0px;
    		display: none;
    		.no-divider{
				border: 0px;
    		}
    	}

    }
	.closebtn {
	    position: absolute;
	    font-family: $font-two;
	    top: 25px;
	    right: 25px;
	    font-size: 12px !important;
	    margin-left: 50px;
	   	letter-spacing: .1em;
	   	color: #333 !important;
	}
}
#main {
    transition: margin-left .5s;
    .list-nav{
    	border-right: .5px solid #ccc;
    }
    .menu{
    	padding-left: 15px;
    	font-weight: bold;
    	font-family: $font-two;
    }
    .navbar-search{
    	padding-top: 15px;
    }

}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
